<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
 
    <title>Login</title>
</head>
<body>
    <section class="columns is-centered is-mobile">
        <div class="column is-one-quarter">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success">
                        Login
                    </button>
                    <a href="http://localhost:3000/auth/login" class="google-btn">
                        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo">
                        Sign Up with Google
                    </a>
                    
                </p>
            </div>
        </div>
    </section>
</body>

</html>